<html>
<head>
<link rel="stylesheet" href="css/bootstrap.min.css"></link>
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}"></link>
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/style1.css') }}"></link>
<title>{{request.args['language']}} Movies  </title>
</head>
<body>
<nav>
<div>
<div class="image">
<img src="{{ url_for('static', filename='images/logo.jpg') }}"></div>
<h1>WatchMovies</h1>
<ul>
<li><button onclick="location.href='/'">Home</button></li>
<li>
<div class="dropdown">
<button class="dropbtn">Movies</button>
  <div class="dropdown-content">
    <a href="movieslist?language=Telugu">Telugu</a>
    <a href="movieslist?language=Hindi">Hindi</a>
    <a href="movieslist?language=English">English</a>
  </div>
</div>
</li>
<li><button>Contact</button></li>
<li><button>About</button></li>
</ul>
<div class="input">
<input type="text" class="text" id="search" placeholder="Search Movies">
<input class="button" onclick="search()" type="submit" value="search ">
</div>
</div>
</nav>
<h1 style="margin-left:20px;">{{language}} Movies</h1>
<section>
{%for item in data%}
<div id="main"  onclick="sn({{item[3]}})" name="{{item[3]}}">
<div class="sub" style="background-size:100% 100%;background-image:url('{{ url_for('static', filename='images/'+item[2]) }}') "  ></div>
<div class="moviename" style="text-align:center;overflow:hidden;">{{item[0]}}({{item[1]}}){{item[4]}} full movie
watch online 
</div>
</div>
{%endfor%}
</section>

<footer>
<div>
<div class="footer">
<h3 style="margin-top:30px;">WatchMovies</h3>
<h4 style="margin:10px;">Watch all new telugu,hindi,english movies for free.Download free movies.</h4>
<p>Contact US<p>
</div>
<marquee><i><b><p>watchmovies@gmail.com</p></b></i></marquee>
</div>
</footer>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.js"></script>
<script>

function search(){
const search=document.getElementById("search").value;
if(search!=''){
window.location.href="/searchmovies?name="+search;
}
}

function sn(num){
window.location.href="/movies?number="+num;
}


</script>
</body>
</html>